body {
  padding-top: 50px;
  /*font-family: Georgia, Times, 'Times New Roman', serif;*/
}

.boards-dropdown li {
  padding: 5px;
  cursor: pointer;
}


.corkboard:after {
  content: '';
  display: block;
  clear: both;
}

.pin {
  position: relative;
  float: left;
  margin: 5px;
  height: 250px;
  width: 250px;
  border: solid 1px #e7e7e7;
  background-size: cover;
  color: white;
}

.pin.selected {
  width: 510px;
  height: 375px;
}

.pin .title {
  display: block;
  position: absolute;
  margin: 0px;
  top: 0%;
  left: 0%;
  right: 0%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.pin .description {
  display: none;
  position: absolute;
  margin: 0px;
  bottom: 0%;
  left: 0%;
  right: 0%;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.4);
  vertical-align: bottom;
  max-height: 200px; 
}

.pin .editable-click {
  border: none;
}

.pin textarea {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  vertical-align: bottom;
  width: 400px;
}

.pin .editable-empty {
  color: white;
}

.pin .editable-buttons {
  vertical-align: bottom;
}

.pin .btn-group-sm>.btn, .btn-sm {
  float: right;
  clear: right;
  margin: 2px;
}

.pin > i {
  font-size: 80px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.pin.add-pin {
  background-image: url("../images/add-pin.png");
}

.pin.add-pin:active {
  background-image: url("../images/add-pin-active.png");
}